html {
  height: 100%;
  width: 100%;
  background-color: #e4d1c4;
  background-image: url('./img/background2.png');
  background-position: center;
  background-size: contain;
}

.main-app-body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica';
}

/* login page and title. Also the main page. (for now) */
.user-form-container a {
  text-decoration: none;
}

.user-form-container a:visited {
  color: #b8837c;
}

.user-form-container a:link {
  color: #b8837c;
}

.user-form-container {
  text-align: center;
  border: 2px solid #55495b;
  border-radius: 1em;
  width: 30vw;
  margin: 13vh auto;
  height: 65vh;
  list-style-type: none;
  font-size: 1.8em;
  background-color: rgba(85, 73, 91, .8);
}

.user-form-container h1 {
  transform: rotate(-10deg);
  font-size: 4em;
  color: #b8837c;
  font-family: 'Tangerine', cursive;
}

.user-form-container h2 {
  color: #b8837c;
}

.login-button {
  font-size: 1.2rem;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}



/* Sidebar Nav */
.sidebar-nav {
  background-color: #55495b;
  border: .03em solid;
  border-radius: 20px;
  width: 100vw;
  margin-left: -13%;
  width: 12vw;
  height: 300px;
}

.sidebar-nav ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.sidebar-nav button {
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 1vh;
  color: #fff;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  width: 8vw;
  height: 10vh;
}

#edit-user {
  /* border: 1px solid red; */
  /* width: auto; */
  /* background-color: #55495b; */
}

#create-event {
  margin-top: 3vh;
  /* background-color: #55495b; */
  /* border: 1px solid red; */
}

#test {
  height: .03em;
  margin-top: 20px;
  background-color: #fff;

}


/* register button */
#sign-in {
  margin-top: 2.5vh;
}

/* sign in button */
#register {
  margin-top: 1.5vh;
  color: #fff;
  font-weight: 200;
}



















  .footer {
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(85, 73, 91, .8);
    z-index: 2;
  }

  .footer a {
    display: flex;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: bolder;
    font-size: 16px;
  }


.eventsList-container {
  display: flex;
  justify-content: space-around;
  height: 82.2vh;
  /* border: 1px solid red; */
}
