body,
html {
  background-color: #c8a69a;
  height: 100%;
  width: 100%;
}

/* login page and title. Also the main page. (for now) */
.user-form-container a {
  text-decoration: none;
}

.user-form-container a:visited {
  color: #b8837c;
}

.user-form-container a:link {
  color: #b8837c;
}

.user-form-container {
  text-align: center;
  border: 2px solid #55495b;
  border-radius: 1em;
  width: 30vw;
  margin: 5% auto;
  height: 550px;
  list-style-type: none;
  font-size: 1.8em;
  background-color: rgba(85, 73, 91, .7);
}

.user-form-container h1 {
  transform: rotate(-10deg);
  font-size: 2.5em;
}

.login-button {
  font-size: 1.2rem;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}



/* register button */
#sign-in {
  margin-top: 2.5vh;
}

/* sign in button */
#register {
  margin-top: 1.5vh;
  color: #fff;
  font-weight: 200;
}




















.footer {
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
    z-index: 2;
  }
  .footer a {
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: bolder;
    font-size: 16px;
  }
.eventsList-container {
  display: flex;
  justify-content: space-around;
}
